// ref path of original
.protyle-wysiwyg div[custom-origin-hpath]:not([custom-prog-origin-text])::before {
  content: attr(custom-origin-hpath);
  font-size: 80%;
  color: var(--b3-font-color2);
  padding-left: 15px;
}

// ref path
.protyle-wysiwyg div[custom-ref-hpath]:not([custom-origin-hpath]):not([custom-prog-origin-text])::before {
  content: attr(custom-ref-hpath);
  font-size: 80%;
  color: var(--b3-font-color3);
  padding-left: 15px;
}

// note in pieces
.protyle-wysiwyg div[custom-progref][custom-paragraph-index]:not([custom-prog-origin-text]):not([custom-prog-key-note]):not([custom-prog-key-no-color]) {
  color: var(--b3-font-color2);
}

// key note
.protyle-wysiwyg div[custom-prog-key-note]:not([custom-prog-key-no-color]) {
  color: var(--b3-font-color2);
}

// last block of the previous piece
.protyle-wysiwyg div[custom-prog-piece-previous] {
  transform: scale(0.9);
  transform-origin: 0 0;
  border-left: 5px solid var(--b3-font-background5);
  border-right: 5px solid var(--b3-font-background5);
  padding: 10px;
}

// words
.protyle-wysiwyg div[custom-prog-words] {
  color: var(--b3-font-color5);
  background-color: var(--b3-font-background5);
}

// super list
.protyle-wysiwyg div[custom-super-list] {
  border-bottom: 1px groove var(--b3-font-color5);
}

// super block as card
.protyle-wysiwyg div[custom-super-card-box] {
  border: 1px solid var(--b3-font-color5);
}

// settings search 
.tomato-highlight {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: x-large;
  color: var(--b3-font-color2);
}

.tomato-button {
  color: var(--b3-font-color3);
}